[Unit]
Description=CFEngine Execution Daemon
After=syslog.target

[Service]
ExecStart=@bindir@/cf-execd
Type=forking
PIDFile=@localstatedir@/cfengine/cf-execd.pid

[Install]
WantedBy=multi-user.target
